{{!
    @template enrol_cart/checkout
}}
<div class="cart-checkout">

    {{> enrol_cart/_items }}

    {{#coupon_form}}
        <div class="cart-summary cart-summary--coupon-form{{#cart.coupon_code}} has-coupon{{/cart.coupon_code}}{{#cart.coupon_code}} has-coupon{{/cart.coupon_code}}">
            {{{coupon_form}}}
            {{#cart.coupon_error_message}}
                <div class="cart-summary--coupon-form__error invalid-feedback">
                    {{{cart.coupon_error_message}}}
                </div>
            {{/cart.coupon_error_message}}
        </div>
    {{/coupon_form}}

    {{> enrol_cart/_summary_bill }}

    {{> enrol_cart/_payment }}

</div>
